<div>
  <span class="p-4 m-4"><%= reference %></span>
  <span><%= amount_from %></span>
  <span><%= amount_to %></span>
  <span><%= sender_email %></span>
  <span><%= sender_name %></span>
  <span><%= status %></span>
</div>